@theme {
  --color-brand-green: rgba(53, 217, 66, 1) --color-primary-normal: #ffffff;
  --color-primary-strong: hsl(0, 0%, 86%);
  --color-primary-heavy: rgba(255, 255, 255, 0.65);
  --color-static-white: #ffffff;
  --color-static-black: #000000;
  --color-label-normal: #f7f7f8;
  --color-label-neutral: rgba(194, 196, 200, 0.88);
  --color-label-alternative: rgba(174, 176, 182, 0.61);
  --color-label-assistive: rgba(174, 176, 182, 0.28);
  --color-label-disable: rgba(152, 155, 162, 0.16);
  --color-label-button-normal: #171719;
  --color-label-button-strong: #000000;
  --color-label-button-neutral: rgba(46, 47, 51, 0.88);
  --color-label-button-alternative: rgba(55, 56, 60, 0.61);
  --color-label-button-assistive: rgba(112, 115, 124, 0.28);
  --color-label-button-disable: rgba(55, 56, 60, 0.16);
  --color-normal: #1b1c1e;
  --color-normal-alternative: #0f0f10;
  --color-elevated-normal: #212225;
  --color-elevated-alternative: #141415;
  --color-elevated-assistive: rgba(46, 47, 51, 1);
  --color-interaction-inactive: #5a5c63;
  --color-interaction-disable: #2e2f33;
  --color-line-normal: rgba(112, 115, 124, 0.32);
  --color-line-neutral: rgba(112, 115, 124, 0.28);
  --color-line-alternative: rgba(112, 115, 124, 0.22);
  --color-line-solid-normal: #37383c;
  --color-line-solid-neutral: #333438;
  --color-line-solid-alternative: #2e2f33;
  --color-status-positive: #1ed45a;
  --color-status-cautionary: #ffa938;
  --color-status-negative: #ff6363;
  --color-accent-red-orange: #ff7b2e;
  --color-accent-lime: rgba(107, 224, 22, 1);
  --color-accent-cyan: #28d0ed;
  --color-accent-light-blue: #3dc2ff;
  --color-accent-violet: #7d5ef7;
  --color-accent-purple: #d478ff;
  --color-accent-pink: #fa73e3;
  --color-accent-fg-red: #ff6363;
  --color-accent-fg-red-orange: #ff7b2e;
  --color-accent-fg-orange: #ff9200;
  --color-accent-fg-lime: #58cf04;
  --color-accent-fg-green: #1ed45a;
  --color-accent-fg-cyan: #00bdde;
  --color-accent-fg-light-blue: #00aeff;
  --color-accent-fg-blue: #4f95ff;
  --color-accent-fg-violet: #9e86fc;
  --color-accent-fg-purple: #d478ff;
  --color-accent-fg-pink: #fa73e3;
  --color-inverse-primary: #0066ff;
  --color-inverse-label: #171719;
  --color-fill-normal: rgba(112, 115, 124, 0.22);
  --color-fill-strong: rgba(112, 115, 124, 0.28);
  --color-fill-alternative: rgba(112, 115, 124, 0.12);
  --color-material-dimmer: rgba(23, 23, 25, 0.74);
}
